<div class="title">
  <h5>{{ title }}</h5>
</div>

<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">
    
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">recent_actors</i>
        <input id="turma" name="turma" type="text" class="validate" formControlName="turma" [(ngModel)]="turma.nome" materialize="autocomplete" [materializeParams]="[{'data': turmasAutoComplete }]">
        <label for="turma" [class.active]="turma.nome">Turma</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="aluno" name="aluno" type="text" disabled="disabled" class="validate" formControlName="aluno" [(ngModel)]="aluno.nome">
        <label for="aluno" [class.active]="aluno.nome">Aluno</label>
      </div>
    </div>

    <!--<div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">payment</i>
        <input id="valorTotal" type="text" disabled="disabled" class="validate" [(ngModel)]="matricula.valorTotal" formControlName="valorTotal">
        <label for="valorTotal" [class.active]="matricula.valorTotal">Valor Total</label>
      </div>
    </div>-->

    <!--<div formGroupName="formaPagamento">
      <forma-pagamento></forma-pagamento>
    </div>-->

    <div class="buttons right">
      <button class="btn waves-effect waves-light" type="button">
          Voltar
      </button>
      <button class="btn waves-effect waves-light" type="submit" [disabled]="!form.valid">
          Matricular<i class="material-icons right">send</i>
      </button>
    </div>

  </form>
</div>