<div class="card-panel">

  <div class="title">
    <span> Forma de Pagemento </span>
  </div>

  <div>
    <p *ngFor="let formaPagamento of formasPagamento">
      <input name="formaPagamentoGrupo" type="radio" id="formaPagamento_{{formaPagamento.id}}" [(ngModel)]="tipoPagamentoSelecionado" value="{{formaPagamento.tipo}}" (ngModelChange)="formaPagamentoAlterado()" />
      <label for="formaPagamento_{{formaPagamento.id}}">{{formaPagamento.tipo}}</label>
    </p>
  </div>

  <div class="separador" *ngIf="tipoPagamentoSelecionado">
    <span>Parcelas:</span>

    <p *ngFor="let parcela of parcelas">
      <input name="parcelaGrupo" type="radio" id="parcela_{{parcela.parcelaAtual}}" [(ngModel)]="parcelaSelecionada" value="{{parcela.parcelaAtual}}" />
      <label for="parcela_{{parcela.parcelaAtual}}">{{parcela.parcelaAtual}}x {{parcela.valorParcelado | currency:'BRL':true}}</label>
    </p>
  </div>
</div>