<div class="card-panel">

  <div class="title">
    <span> Forma de Pagemento </span>
  </div>

  <div>
    <p *ngFor="let formaPagamento of formasPagamento">
      <input name="group1" type="radio" id="test{{formaPagamento.id}}" [(ngModel)]="tipoPagamentoSelecionado" value="{{formaPagamento.tipo}}" (ngModelChange)="formaPagamentoAlterado()" />
      <label for="test{{formaPagamento.id}}">{{formaPagamento.tipo}}</label>
    </p>
  </div>

  <div>
    <p *ngFor="let parcela of parcelas">
          {{parcela}}
    </p>
  </div>

</div>