/* You can add global styles to this file, and also import other style files */

input[type=text]:disabled, input[type=text]:disabled + label{
    color: rgba(0, 0, 0, 0.7) !important;
}

.buttons button{
    margin-left: 15px;
    margin-bottom: 15px;
}

.title{
    margin-bottom: 20px !important;
}

.card-panel .title span {
    font-size: 1.5em !important;
}